[Desktop Entry]
Encoding=UTF-8
Name=Contacts
Name[pl]=Kontakty
Comment=View Contacts
Comment[pl]=Książka adresowa 
Exec=openmoko-contacts
Icon=openmoko-contacts
Terminal=false
Type=Application
Categories=GTK;Office;PIM;
SingleInstance=true
StartupNotify=true
