[Desktop Entry]
Encoding=UTF-8
Name=Dialer
Comment=Telephone Calls
Exec=/usr/share/pixmaps/shr-dialer.png
Icon=Dialer
Terminal=false
Type=Application
Categories=Application;PIM;Office;
MimeType=text/x-vcard;
X-MB-SingleInstance=true
StartupNotify=true
