[Desktop Entry]
Encoding=UTF-8
Name=Dialer
Comment=Telephone Calls
Exec=openmoko-dialer -s
Icon=/usr/share/icons/openmoko-standard/48x48/apps/openmoko-dialer.png
Terminal=false
Type=Application
Categories=Application;PIM;Office;
MimeType=text/x-vcard;
X-MB-SingleInstance=true
StartupNotify=true
