[Desktop Entry]
Encoding=UTF-8
Name=Messages
Comment=View and send SMS messages
Exec=openmoko-messages
Icon=/usr/share/pixmaps/shr-messages.png
Terminal=false
Type=Application
Categories=GTK;Office;PIM;
SingleInstance=true
StartupNotify=true
