[Desktop Entry]
Encoding=UTF-8
Name=Contacts
Comment=View Contacts 
Exec=openmoko-contacts
Icon=/usr/share/pixmaps/shr-contacts.png
Terminal=false
Type=Application
Categories=GTK;Office;PIM;
SingleInstance=true
StartupNotify=true
