[Desktop Entry]
Name=Settings
TryExec=exposure.py
GenericName=Settings
Comment=Settings of Openmoko Phone
StartupNotify=false
Exec=exposure.py
Icon=settings
Terminal=false
Type=Application
Categories=Settings;
